@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

/* Global Class */

.container{
	width: 1200px;
	margin: 0 auto;
}

/* Global Style */

a{
	text-decoration: none;
}

/* Top Header Area */

.top-header-wrapper{
	padding: 10px 0;
	border-bottom: 1px solid #ece5e5;
}
.top-header-area{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-img{
	height: 30px;
}
.header-about-btn{
	padding: 8px 30px;
	background: red;
	display: inline-block;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 400;
	background: #96E9C6;
	color: black;
	font-size: 15px;
	transition: 0.3s all ease;
}
.header-about-btn:hover{
	background: black;
	color: white;
}

/* nav area*/

.nav-area{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.search-area{

}
.nav-menu-bar{

}
.nav-menu-bar{
	display: flex;
}
.nav-menu-bar li{
	list-style: none;
}
.nav-menu-bar li a{
	padding: 10px 15px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 15px;
	color: black;
	font-weight: 500;
	border-bottom: 1px solid transparent;
}
.home-menu{
	background: white;
}
.nav-menu-bar > li > a:hover{
	border-bottom: 1px solid green;
}
nav{
	border-bottom: 1px solid #ece5e5;
	position: sticky;
	top: 0;
	background: white;
}
.sub-menu-bar{
/*	position: relative;*/
}
.sub-menu{
	position: absolute;
	padding: 10px;
	background: #dfdcdc;
	display: none;
}
.sub-menu-bar:hover .sub-menu{
	display: block;
}
.sub-menu li a:hover{
	color: green;
}
.hamburger-menu{
	display: none;
}
.search-area i:hover .nav-menu-bar{
	display: none !important;
}

/* Feature Post Area */

.feature-post {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 0px;
	padding: 30px 0;
}

.div1 { grid-area: 1 / 3 / 6 / 6; }
.div2 { grid-area: 1 / 1 / 3 / 3; }
.div3 { grid-area: 3 / 1 / 5 / 3; }
.div4 { grid-area: 1 / 6 / 3 / 8; }
.div5 { grid-area: 3 / 6 / 5 / 8; }

.feature-post-area img{
	width: 100%;
}
.feature-post-details{

}
.feature-post-details h1{
	font-size: 20px;
	font-weight: 500;
	padding: 8px 0;
}
.feature-post-details h2{
	font-size: 17px;
	font-weight: 400;
	padding: 3px 0 8px 0;
}

/*Trending Category Area*/

.trending-category-wrapper{

}
.trending-category-area{
	padding: 30px 0;
	display: flex;
	gap: 10px;
	justify-content: space-evenly;
}
.trending-categories{
	padding: 10px 50px;
	background: #96E9C6;
	font-size: 17px;
	font-weight: 400;
	border-radius: 8px;
	color: black;
	display: inline-block;
	position: relative;
}
.trending-categories::after{
	content: "8";
	position: absolute;
	top: 0;
	right: -3px;
	transform: translateY(-7px);
	background: red;
	border-radius: 50%;
	font-size: 12px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.trending-category-heading{
	font-size: 26px;
	text-align: center;
	padding-bottom: 10px;
}


/* Post Area */
.Post-Area-Heading{
	font-size: 26px;
	padding: 10px 16px;
	border-left: 3px solid #0C8241;
	margin-top: 20px;
}
.Post-Area{
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
	margin-top: 16px;
}
.Post-card{
	width: calc(20% - 10px);
	
}
.Post-image-area{
	height: 150px;
	overflow: hidden;
}
.Post-card .Post-image-area img{
	width: 100%;
}
.Post-card .Post-image-area img:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.see-more-post{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid green;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.see-more-post a{
	color: white;
	font-size: 14px;
	padding: 10px 25px;
	background-color: #0C8241;
	text-transform: uppercase;
	transition: 0.3s all linear;
	-webkit-transition: 0.3s all linear;
	-moz-transition: 0.3s all linear;
	-ms-transition: 0.3s all linear;
	-o-transition: 0.3s all linear;
}
.see-more-post a:hover{
	background-color: red;
}